/*Add Category*/
.addCategoryContainer{
    display: flex;
    flex-direction: column;
    align-items: center ;
    height: auto;
}

.buttonsContainer{
    display:flex;
    flex-direction:row;
}

.button{
    margin:12px;
}

/*Categories List*/
.addCategoryButton{
    display:flex ;
    align-items:center ;
    height: 150px;
    flex-direction: column;
}

.addCategoryButtonMobile{
    display:flex ;
    align-items:center ;
    height: auto;
    flex-direction: column;
}

.addCategorySection{
    display:flex ;
    justify-content:center ;
    margin-top:20px;
}